/* 전체 배경 및 폰트 */
body { 
    font-family: 'Pretendard' ; 
    text-align: center; 
    background-color: #fff9eb;
    padding-top: 50px; 
}

/* 중앙 컨테이너 */
.container { 
    background: white; 
    padding: 30px; 
    border-radius: 30px; 
    display: inline-block; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
}

h1 { color: #ffcb05; }

/* 점수판 */
.score { 
    font-size: 22px; 
    background: #f0f0f0; 
    padding: 15px 30px; 
    border-radius: 50px; 
    font-weight: bold;
}

/* 이미지 레이아웃 (Flexbox 사용) */
.display { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
}

.player p { margin-bottom: 10px; font-weight: bold; color: #777; }

.display img {
    width: 120px; 
    height: 120px;
    object-fit: contain; /* 이미지 잘리지 않도록*/
    border: 3px solid #ffcb05;
    border-radius: 20px;
    padding: 15px;
    background: #fff;
}

.vs-text { font-size: 40px; font-weight: 900; color: #ff6b6b; }

/* 결과창 */
.result { font-size: 26px; font-weight: bold; color: #333; height: 40px; margin-bottom: 20px; }

/* 버튼 스타일 */
.btn-choice { 
    padding: 15px 25px; font-size: 20px; cursor: pointer; border: none; 
    border-radius: 15px; transition: 0.3s; margin: 5px; background-color: #ffcb05;
    color: #333; font-weight: bold;
}

.btn-choice:hover { background-color: #e6b800; transform: translateY(-5px); }

#resetBtn { 
    background-color: #eee; color: #888; margin-top: 30px; 
    padding: 10px 20px; border: none; border-radius: 10px; cursor: pointer;
}

#resetBtn:hover { background-color: #ddd; }